<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 pl-sm-0">

      <div style="margin:10% auto; padding-left:20%; padding-bottom:20%;">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <!--deviceエラー文-->
        <%= render "devise/shared/error_messages", resource: resource %>
        <h4>アカウントを作成</h4>
        <br >
        <div class="field">
          <div>
            <%= f.label :name %>
          </div>
          <div>
            <%= f.text_field :name, autofocus: true %>
          </div>
        </div>
        <div class="field">
          <div>
            <%= f.label :email %>
          </div>
          <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <div>
        </div>
        <div class="field">
          <div>
            <%= f.label :password %>
           <% if @minimum_password_length %>
           <em>(<%= @minimum_password_length %> characters minimum)</em>
           <% end %>
          </div>
          <div>
           <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>
        <div class="field">
          <div>
            <%= f.label :password_confirmation %>
          </div>
          <div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>
        <br >
        <div class="actions">
          <%= f.submit "はじめる", class: "btn btn-warning", style: "width:180px;" %>
        </div>
        <% end %>
        <br >
        <!--ログイン画面リンク-->
        <%= render "devise/shared/links" %>
        <!--トップページへ戻る-->
        <div class="text-right">
       　 <%= link_to " もどる", root_path, class: "fas fa-reply text-right" %>
      　</div>
      </div>
    </div>
  </div>
</div>
