<div class="container px-5 px-sm-0">
  <div class="row" style="margin:3% 5%;">

    <!--サイドバー-->
    <div class="col-md-4">
     <%= render 'users/sidebar', user: @user %>
    </div>

    <!--フォロー一覧-->
    <div class="col-md-7 offset-md-1">
      <% if @users.exists? %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="2" class="text-center">
                <h4>フォロー中</h4>
              </th>
              <th style="font-size:13px;">
                <%= link_to " もどる", 'javascript:history.back()', class: "fas fa-reply" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td class="display:inline;">
                  <%= link_to user_path(user.id) do %>
                    <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "default-image.jpg", size: "60x60" %>
                    &ensp;
                    <%= user.name %>
                    &emsp;
                    <% if user.introduction.present?%>
                     <%= user.introduction.truncate(24) %>
                    <% else %>
                     <%= user.introduction %>
                    <% end %>
                  <% end %>
                </td>
                <td></td>
                <!--フォローボタン-->
                <% unless current_user == user %>
                  <td class="display:inline;">
                    <% if user.followed_by?(current_user) %>
                      <br >
                      <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "btn btn-sm btn-info" %>
                    <% else %>
                      <br >
                      <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-sm btn-outline-info" %>
                    <% end %>
                  </td>
                <% else %>
                 <td></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
      <tbody>
        <td class="text-center" style="padding:10% 0;">フォローしているユーザーはいません</td>
      </tbody>
      <% end %>
    </div>
  </div>
</div>