<!--検索結果一覧(ユーザー)-->
<div class="container px-5 px-sm-0">
  <div class="row">

    <!--サイドバー-->
    <div class="side col-md-4">
      <%= render 'users/sidebar', user: current_user %>
    </div>

    <!--検索結果(ユーザー）-->
    <div class="main col-md-8">
      <%= flash[:notice] %>
      <%= flash[:success] %>
      <table class="table table-hover table-borderless">
        <thead>
          <th colspan="4" class="th-index text-center" style="padding:3%;">
            <span class="index_line" style="font-size:20px;">
              検索結果
            </span>
            <span class="back-right"  style="font-size:13px;">
           　  <%= link_to " もどる", 'javascript:history.back()', class: "fas fa-reply text-right" %>
            </span>
          </th>
        </thead>
        <% if users.exists? %>
        　<% users.each do |user| %>
        　<tbody>
            <tr>
              <!--プロフィール画像-->
              <td style="padding:20px 15px;">
                <%= link_to user_path(user.id) do %>
                 <%= attachment_image_tag user, :profile_image, :fill, 20, 20, fallback: "default-image.jpg", size: "60x60" %>
                <% end %>
              </td>
              <!--ユーザー名-->
              <td style="padding:20px 15px;">
                <%= link_to user.name, user_path(user.id) %>
              </td>
              <!--自己紹介文-->
              <td  style="padding:20px 15px;">
                <% if user.introduction.present?%>
                   <%= link_to user.introduction, user_path(user.id) %>
                <% else %>
                 <%= user.introduction %>
                <% end %>
              </td>
              <!--フォローボタン-->
              <td style="padding:20px 15px;">
                <% unless current_user == user %>
                  <% if user.followed_by?(current_user) %>
                   <%= link_to 'フォロー中', user_relationships_path(user.id), method: :delete, class: "btn btn-sm btn-info" %>
                  <% else %>
                   <%= link_to 'フォローする', user_relationships_path(user.id), method: :post, class: "btn btn-sm btn-outline-info" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>
          <% end %>
        <% else %>
          <tbody>
            <td class="text-center" style="padding:10% 0;">一致する検索結果はありません</td>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>