
<table class="table">
  <tbody>
    <tr>
      <th>
        <%= link_to user_path(user.id) do %>
          <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "default-image.jpg", size:"60x60" %>
          <%= user.name %>
        <% end %>
        &emsp;
        <% if current_user == user %>
          <%= link_to  edit_user_path(user), class: "btn btn-outline-secondary" do %>
           <span class="fas fa-cog"></span>
          <% end %>
        <% end %>
      </th>
    <tr>
    <tr>
      <th>
        <%= user.introduction %>
      </th>
    </tr>
    <tr>
      <th>
        <%= link_to user_followings_path(user.id) do %>
          <%= user.followings.count %>フォロー
        <% end %>
        |<%= link_to user_followers_path(user.id) do %>
          <%=  user.followers.count %>フォロワー
        <% end %>
      </th>
    </tr>
    <tr>
      <% unless current_user == user %>
        <% if user.followed_by?(current_user) %>
          <th>
           <%= link_to "フォロー中", user_relationships_path(user.id), method: :DELETE, class: "btn btn-sm btn-info" %>
          </th>
        <% else %>
          <th>
           <%= link_to "フォローする", user_relationships_path(user.id), method: :POST, class: "btn btn-sm btn-outline-info" %>
          </th>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>
