<div class="container px-5 px-sm-0">
  <div class="row justify-content-center">
    <div class="col-md-8" style="margin:5%;">

      <h3>プロフィール編集</h3>
      <!--エラー文フラッシュ-->
      <%= flash[:warning] %>
      <br >

      <!--プロフィール編集フォーム-->
      <%= form_with model: @user, local:true do |f| %>
        <div class="form-group">
          <span for="inputProfileImage">【プロフィール画像】</span>
          <%= f.attachment_field :profile_image, class: "form-control-file user_image" %>
          <%= attachment_image_tag @user, :profile_image, :fill, 50, 50 %>
        </div>
        <br >
        <div class="form-group">
          <span for="inputName">【アカウント名】</span>
          <%= f.text_field :name, autofocus: true, id:"inputName", class: "form-control name", placeholder:"2~20文字以内で設定してください" %>
        </div>
        <br >
        <div class="form-group">
          <span for="inputIntroduction">【自己紹介】</span>
          <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", class: "form-control introduction", placeholder:"50文字以内で入力してください" %>
        </div>
        <br >
        <div class="form-group">
          <%= f.submit "変更を保存", class: "btn btn-outline-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>