<%= flash[:notice] %>
<div class="container px-5 px-sm-0">
  <div class="row" style="padding:3%;">
    <!--サイドバー-->
    <div class="col-md-4">
     <%= render 'users/user_info', user: @user %>
      <div style="padding:3%;">
       <%= link_to '投稿する ', new_post_path, class: "btn btn-block btn-outline-warning" %>
      </div>
      <div style="padding:3%;">
        <%= link_to 'お気に入り', favorites_user_path(@user), class: "btn btn-block btn-outline-warning" %>
       お気に入り
      </div>
      <br >
      <%= render 'searches/search_form' %>
      <br >
      <br >
    </div>

    <!--投稿一覧-->
    <div class="col-md-7 offset-md-1">
      <br >
      <h2 class="text-center", style="mergin:5%;">自分の投稿</h2>
      <% if @posts.exists? %>
        <table class="table table-hover table-inverse">
          <% @posts.each do |post| %>
            <!--投稿一覧テンプレート-->
            <%= render 'posts/table_data', post: post %>
          <% end %>
        </table>
      <% else %>
        <p>投稿はまだありません</p>
      <% end %>
      <div class="text-right">
     　<%= link_to " もどる", 'javascript:history.back()', class: "fas fa-reply text-right" %>
    　</div>
    </div>
  </div>