<!--検索結果一覧(投稿)-->
<div class="container px-5 px-sm-0">
  <div class="row">

    <!--サイドバー-->
    <div class="side col-md-4">
      <%= render 'users/sidebar', user: current_user %>
    </div>

  <!--検索結果（投稿）-->
    <div class="main col-md-8">
      <%= flash[:notice] %>
      <%= flash[:success] %>
      <table class="table table-hover table-borderless">
        <thead>
          <th class="th-index text-center" style="padding:3%;">
            <span class="index_line" style="font-size:20px;">
              検索結果
            </span>
            <span class="back-right"  style="font-size:13px;">
           　  <%= link_to " もどる", 'javascript:history.back()', class: "fas fa-reply text-right" %>
            </span>
          </th>
        </thead>
        <% if posts.exists? %>
          <% posts.each do |post| %>
            <!--投稿一覧テンプレート-->
            <%= render 'posts/table_data', post: post %>
          <% end %>
        <% end %>
      </table>
      <div class="text-right">
     　　<%= link_to " もどる", 'javascript:history.back()', class: "fas fa-reply text-right" %>
    　</div>
    </div>
  </div>
</div>