<tbody>
  <td>
    <div>
      <%= link_to user_path(post.user.id) do %>
       <%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback: "default-image.jpg", size:"60x60" %>
       <%= post.user.name %><br >
      <% end %>
    </div>
    <div>
      <%= link_to post.title, post_path(post.id) %><br >
    </div>
    <div>
      <%= post.song %><br>
    </div>
    <div>
      <%= post.artist %><br>
    </div>
    <div>
      <%= link_to post.body.truncate(24), post_path(post.id) %><br>
    </div>
    <div>
      <%= attachment_image_tag(post, :post_image, :fill, 150, 150) %><br >
    </div>
    <div class="favorites-btn" style="display:inline;">
      <%= render 'favorites/favorite-btn', post: post %>
    </div>
    <div class="comment_counts" style="display:inline;">
      <%= render 'post_comments/counts', post: post %>
    </div>
  </td>
</tbody>