<div class="container px-5 px-sm-0">
  <div class="row justify-content-center">
    <div class="col-md-8" style="margin:3%; padding-bottom:3%;">
      <h3>投稿を編集する</h3>

            <!--エラーメッセージ-->
      <div id="error_explanation">
        <% if @post.errors.any? %>
         <ul>
          <% @post.errors.full_messages.each do |message| %>
           <li><%= message %></li>
          <% end %>
         </ul>
        <% end %>
      </div>
      <br >

       <!--編集フォーム-->
      <%= form_with model:@post, url: post_path, local:true do |f| %>
       <div class="form-group">
        <%= f.text_field :title, class: "form-control post_title", placeholder:"どんな気分？：例）友達との待ち合わせに向かう楽しい気分に♪" %>
        <br >
       </div>

       <div class="form-group">
        <%= f.text_field :song, class: "form-control post_song", placeholder:"なんて曲？" %>
        <br >
       </div>

       <div class="form-group">
        <%= f.text_field :artist, class: "form-control post_artist", placeholder:"だれの曲" %>
        <br>
       </div>

       <div class="form-group">
        <%= f.text_area :body, class: "form-control post_body",
        placeholder:"この曲のエピソード教えて！：例）久しぶりに会う友達との待ち合わせに向かう電車で聴いていました！" %>
       </div>
       <br >
       <div class="form-group">
        <%= f.submit '変更を保存', class: "btn btn-outline-success" %>
       </div>
      <% end %>
      <div class="text-right">
       <%= link_to " もどる", :back, class: "fas fa-reply" %>
      </div>
    </div>
  </div>
</div>