<%= flash[:notice] %>
<%= flash[:success] %>
<div class="container px-5 px-sm-0">
  <div class="row" style="padding:3%;">
    <!--サイドバー-->
    <div class="col-md-4">
     <%= render 'users/user_info', user: @user %>
     <div style="padding:3%;">
       <%= link_to '投稿する ', new_post_path, class: "btn btn-block btn-outline-warning" %>
     </div>
    <div style="padding:3%;">
     お気に入り
    </div>
    <br >
    <%= render 'searches/search_form' %>
      <br >
      <br >
    </div>

    <div class="col-md-7 offset-md-1">
      <table class="table table-hover table-inverse">
        <thead>
          <h3 class="text-center" style="padding:3%;">
            新着投稿一覧
          </h3>
        </thead>
        <% @posts.each do |post| %>
          <!--投稿内容テンプレート-->
          <%= render 'posts/table_data', post: post %>
        <% end %>
      </table>
    </div>
  </div>
</div>