<%= flash[:notice] %>
<%= flash[:success] %>
  <h2>ログイン後トップページ</h2>
  <h3>投稿一覧</h3>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-4">
　　 <%= render 'users/user_info', user: @user %>
　   <%= link_to '投稿する ', new_post_path %>
　   <%= render 'searches/search_form' %>
    </div>

    <div class="col-md-8">
      <!--<div class="d-flex justify-content-center">-->
          <% @posts.each do |post| %>
            <table class="table table-hover table-inverse ">
              <tbody>
                <tr>
                  <%= link_to user_path(post.user.id) do %>
                   <%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback: "default-image.jpg", size:"60x60" %>
                   <%= post.user.name %><br >
                  <% end %>
                </tr>
                <tr>
                  <%= link_to post.title, post_path(post.id) %><br>
                </tr>
               <tr>
                  <%= post.song %><br>
                </tr>
                <tr>
                  <%= post.artist %><br>
                </tr>
                <tr>
                  <%= link_to post.body.truncate(24), post_path(post.id) %><br>
                </tr>
                <tr>
                  <%= attachment_image_tag(post, :post_image, :fill, 150, 150) %><br >
                </tr>
                <tr>
                  <p id="post_<%= post.id %>" style="display:inline;"><%= render 'favorites/favorite-btn', post: post %></p>
                  <i class="far fa-comments">:<%= post.post_comments.count %></i>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
      <!--</div>-->
    </div>
  </div>
</div>