<%= flash[:notice] %>
<%= flash[:success] %>
<div class="container px-5 px-sm-0">
  <div class="row" style="margin:3%;">
    <!--サイドバー-->
    <div class="col-md-3">
     <%= render 'users/user_info', user: @user %>
     <br >
     <div>
       <%= link_to '投稿する ', new_post_path %>
     </div>
    <br >
    <div>
     お気に入り
    </div>
    <br >
    <%= render 'searches/search_form' %>
      <br >
      <br >
    </div>

    <div class="col-md-8  offset-md-1">
      <br >
      <h2 class="text-center", style="mergin:5%;">新着一覧</h2>
      <table class="table table-hover table-inverse">
        <% @posts.each do |post| %>
          <!--投稿内容テンプレート-->
          <%= render 'posts/table_data', post: post %>
        <% end %>
      </table>
    </div>
  </div>
</div>