<div class="container px-5 px-sm-0">
  <div class="row justify-content-center">
    <div class="col-md-8" style="margin:3%;">
      <h3 >新規投稿</h3>

      <!--エラーメッセージ-->
      <div id="error_explanation">
        <% if @post.errors.any? %>
         <ul>
          <% @post.errors.full_messages.each do |message| %>
           <li><%= message %></li>
          <% end %>
         </ul>
        <% end %>
      </div>
      <br >

      <!--投稿フォーム-->
      <%= form_with model: @post, local:true do |f| %>
      　<!--タイトル-->
        <div class="form-group">
          <%= f.text_field :title, class: "form-control post_title", placeholder:"どんな気分？：例）友達との待ち合わせに向かう楽しい気分に♪" %>
          <br >
        </div>

        <!--曲名-->
        <div class="form-group">
          <%= f.text_field :song, class: "form-control post_song", placeholder:"なんて曲？" %>
          <br >
        </div>

        <!--アーティスト名-->
        <div class="form-group">
          <%= f.text_field :artist, class: "form-control post_artist", placeholder:"だれの曲？" %>
          <br >
        </div>

        <!--本文-->
        <div class="form-group">
          <%= f.text_area :body, class: "form-control post_body",
          placeholder:"この曲のエピソード教えて！：例）久しぶりに会う友達との待ち合わせに向かう電車で聴いていました！" %>
        </div>

        <!--画像-->
        <div class="form-group">
          <%= f.attachment_field :post_image %>
          <br >
        </div>
        <br >
        <div class="form-group">
          <%= f.submit 'シェアする', class: "btn btn-outline-info" %>
        </div>
      <% end %>
      <div class="text-right">
       <%= link_to " もどる", 'javascript:history.back()', class: "fas fa-reply text-right" %>
      </div>
      </div>
    </div>
  </div>