<h1>投稿詳細</h1>

<div>
  <p>投稿者：<%= link_to @user.name, user_path(@post.user.id) %></p>
  <p>いつ聴く？：<%= @post.title %></p>
  <p>曲名：<%= @post.song %></p>
  <p>アーティスト：<%= @post.artist %></p>
  <p>キャプション：<%=safe_join(@post.body.split("\n"),tag(:br))%></p>
  <%= attachment_image_tag @post, :post_image, :fill, 400, 300 %>
  <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <p class="favorites-btn" style="display:inline;">
    <%= render 'favorites/favorite-btn', post: @post %>
  </p>
  <p class="comment_counts" style="display:inline;">
    <%= render 'post_comments/counts', post: @post %>
  </p>
  <% if @user == current_user %>
    <%= link_to "編集",  edit_post_path(@post) %>
    <%= link_to "削除",  post_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
  </div>

  <div class="commentsArea">
    <%= render 'post_comments/index', post: @post ,post_comment: @post_comment %>
  </div>
  <div class="inputComment">
    <%= render 'post_comments/comment_form', post: @post, post_comment: @post_comment %>
  </div>