<!--投稿詳細-->
<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-7">
      <%= flash[:notice] %>
      <%= flash[:success] %>
      <table class="show_main table table-borderless">
        <tr class="display:inline">
          <td style="padding:5px 50px;">
            <!--ユーザー名・画像-->
            <%= link_to user_path(@post.user.id) do %>
             <%= attachment_image_tag @post.user, :profile_image, :fill, 60, 60, fallback: "default-image.jpg", size:"50x50" %>
             &emsp;
             <%= @post.user.name %>
            <% end %>
            &emsp;
            &emsp;
            <!--フォローボタン-->
            <% unless current_user == @user %>
              <% if @user.followed_by?(current_user) %>
                 <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "btn btn-sm btn-info" %>
              <% else %>
                 <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-sm btn-outline-info" %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <!--タイトル-->
          <td style="padding:20px 50px;">
            <b>
              <i class="fas fa-heartbeat"></i>
              &emsp;
              <%= @post.title %>
            </b>
          </td>
        </tr>
        <tr>
          <!--曲名-->
          <td style="padding:10px 50px;">
            <i class="fas fa-music"></i>
            &emsp;
            <%= @post.song %>
          </td>
        </tr>
        <tr>
          <!--アーティスト-->
          <td style="padding:10px 50px;">
            <i class="fas fa-microphone-alt"></i>
            &emsp;
            <%= @post.artist %>
          </td>
        </tr>
        <tr>
          <!--本文-->
          <td style="padding:20px 60px;">
            <%=safe_join(@post.body.split("\n"),tag(:br))%>
          </td>
        </tr>
        <tr>
          <!--画像-->
          <td class="pist_image_show" style="padding:10px 30px;">
            <%= attachment_image_tag @post, :post_image %>
          </td>
        </tr>
        <tr>
          <td style="padding:10px 50px;">
            <!--お気に入りボタン-->
            <div id="favorites-btn-<%= @post.id %>" style="display:inline; margin:0 3%;">
              <%= render 'favorites/favorite-btn', post: @post %>
            </div>
            <!--コメント数表示-->
            <div class="comment_counts" style="display:inline; margin:0 3%;">
              <%= link_to post_path(@post) do %>
              <%= render 'post_comments/counts', post: @post %>
              <% end %>
            </div>
            <!--投稿編集ボタン-->
            <% if @post.user == current_user %>
            <div style="display:inline; margin:0 3%;">
             <%= link_to edit_post_path(@post) do %>
                <%= render 'posts/edit_btn' %>
              <% end %>
            </div>
            <!--投稿削除ボタン-->
            <div style="display:inline; margin:0 3%;">
              <%= link_to post_path(@post), method: :delete, local: true, "data-confirm" => "本当に削除しますか？" do %>
                <%= render 'posts/delete_btn' %>
              <% end %>
            </div>
            <!--投稿日-->
            <div class="text-right" style="display:inline; margin-left:20px;">
              <%= @post.created_at.strftime('%Y/%m/%d') %>
            </div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-md-5">
      <!--コメントフォーム-->
      <div class="inputComment">
        <%= render 'post_comments/comment_form', post: @post, post_comment: @post_comment %>
      </div>
      <br >
      <!--コメント一覧-->
      <div class="commentsArea">
       <%= render 'post_comments/index', post: @post ,post_comment: @post_comment %>
      </div>
    </div>
    <div style="margin-left:15%;">
      <br >
      <b>
        <%= link_to posts_path do %>
         <i class="fas fa-icons"></i> home
        <% end %>
         &ensp;|&ensp;
       <%= link_to user_path(current_user.id) do %>
         <i class="fas fa-compact-disc"></i> myrecord
        <% end %>
      </b>
    </div>
  </div>
</div>